/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #182628;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4.1rem;
  color: #65CCB8;
}
h2 {
  font-size: 4rem;
  cursor: pointer;
}
h3 {
  font-size: 3rem;
}
p {
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: 'Indie Flower', cursive;
}
.container {
  max-width: 2000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #65CCB8;
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}
.black {
  background-color: black;
}
.mirage {
  background-color: #182628;
}
#container2 header {
  margin-bottom: 5rem;
}
.about_main {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .about_main {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
  }
}
.about_main .about_content {
  padding: 2rem;
  width: 30rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  color: #3B945E;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .about_main .about_content {
    width: 100%;
  }
}
.team {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .team {
    flex-direction: column;
  }
}
.team .max,
.team .stephanie,
.team .amarachi,
.team .jeremiah,
.team .thierry,
.team .cash {
  background: #57BA98;
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 1rem;
  height: auto;
  width: 25%;
}
@media (max-width: 787px) {
  .team .max,
  .team .stephanie,
  .team .amarachi,
  .team .jeremiah,
  .team .thierry,
  .team .cash {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .team .max,
  .team .stephanie,
  .team .amarachi,
  .team .jeremiah,
  .team .thierry,
  .team .cash {
    width: 80%;
    margin: 1rem auto;
  }
}
.team .max p,
.team .stephanie p,
.team .amarachi p,
.team .jeremiah p,
.team .thierry p,
.team .cash p {
  color: #182628;
}
header {
  max-width: 100%;
  display: flex;
  padding-top: 1rem;
}
@media (max-width: 500px) {
  header {
    margin: 1rem auto;
  }
}
@media (max-width: 500px) {
  header .nav .h1 {
    font-size: 3rem;
    margin: auto;
  }
}
header .nav {
  margin: 0 auto;
}
header .nav a,
header .nav p,
header .nav h2 {
  font-size: 3rem;
  text-decoration: none;
  color: #3B945E;
  cursor: pointer;
}
@media (max-width: 500px) {
  header .nav a,
  header .nav p,
  header .nav h2 {
    font-size: 2rem;
  }
}
header .nav .themeChanger {
  font-size: 3rem;
}
@media (max-width: 500px) {
  header .nav .themeChanger {
    font-size: 2rem;
  }
}
.cta {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5rem;
  border-bottom: 4px dashed #3B945E;
}
@media (max-width: 787px) {
  .cta {
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .cta {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    align-content: center;
  }
}
.cta .cta_img img {
  width: 100%;
  max-width: 50rem;
  border-radius: 4rem;
}
@media (max-width: 787px) {
  .cta .cta_img img {
    width: 98%;
  }
}
@media (max-width: 500px) {
  .cta .cta_img img {
    padding: 0;
    margin: 0;
  }
}
.cta .cta_column {
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 500px) {
  .cta .cta_column {
    width: 100%;
    justify-content: center;
  }
}
.cta .cta_column .cta_why h2,
.cta .cta_column .cta_why p {
  text-align: center;
  margin-top: 1rem;
  color: #3B945E;
}
.cta .cta_column .btn {
  border-radius: 2rem;
  width: 20rem;
  height: 5rem;
  background-color: #65CCB8;
  cursor: pointer;
  font-size: 2rem;
  color: #182628;
  margin-bottom: 0.4rem;
}
@media (max-width: 500px) {
  .cta .cta_column .btn {
    width: 30rem;
  }
}
.cta .cta_column .btn:hover {
  background-color: #182628;
  color: #65CCB8;
}
.bottom {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.bottom .interactive,
.bottom .fun {
  background: #3B945E;
}
.bottom .social {
  background: #65CCB8;
}
.bottom .interactive,
.bottom .social,
.bottom .fun {
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-item: center;
  padding: 1.25%;
  margin: 1.25%;
  border-radius: 2rem;
  color: #182628;
}
@media (max-width: 500px) {
  .bottom .interactive,
  .bottom .social,
  .bottom .fun {
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
  }
}
footer {
  display: flex;
  justify-content: center;
}
