.bottom {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    @media @mobile {
        flex-direction: column;
        width: 100%;
    }
    .interactive, .social, .fun {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: @epic-teal;
        padding: 2rem;
        margin: 2rem;
        border-radius: 2rem;
        
        @media @mobile {
        }
    }
}