.cta {
//    border: 1px solid red;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10rem;
    border-bottom: 4px dashed @green;
    
    @media @mobile {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        align-content: center;
        
    }
    .cta_img {
        
        
        img {
            
            width: 100%;
            max-width: 50rem;
            height: auto;
            padding: 3rem;
            margin: 2rem;
            border-radius: 4rem;
            
            @media @mobile {
                width: 
                padding: 0;
                margin: 0;
            }
        }
    }
    
    
    .cta_column {

//        background: @dark-vanilla;
        padding: 1rem;
        border-radius: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
//        border: 1px solid yellow;
        width: 100%;

        @media @mobile {
        width: 100%;
        justify-content: center;

    }

        .cta_why {
            justify-content: center;
            align-items: center;
            h2, p {
                text-align: center;
                margin-top: 1rem;
                color: @green;
                
            }
        }
        
        .btn {
            border-radius: 2rem;
            width: 20rem;
            height: 5rem;
            background-color: @epic-teal;
            cursor: pointer;
            font-size: 2rem;
            color: @eggshell-white;
            margin-bottom: .4rem;
            
            
            @media @mobile {
                width: 30rem;
            }
            &:hover {
                background-color: @eggshell-white;
                color: @epic-teal;
            }
            
        }
    }  
} 


