.cta {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
//    border: 1px solid red;
    margin: 0 auto;
    border-bottom: 4px dashed @green;
    
    @media @tablet {
        flex-direction: column;
        margin: 0 auto;
    }
    @media @mobile {
        width: 80%;
        margin: 0 auto;
        align-content: center;
        
    }
    .cta_img {

        
        img {
            
            width: 100%;
            max-width: 50rem;
            border-radius: 4rem;
            
            
            @media @tablet {
                width: 98%;
            }
            @media @mobile {
                padding: 0;
                margin: 0;
            }
        }
    }
    
    
    .cta_column {
        padding: 1rem;
        border-radius: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
//        border: 1px solid yellow;
        width: 100%;

        @media @mobile {
        width: 100%;
        justify-content: center;

    }

        .cta_why {

            h2, p {
                text-align: center;
                margin-top: 1rem;
                color: @green;
                
            }
        }
        
        .btn {

            border-radius: 2rem;
            width: 20rem;
            height: 5rem;
            background-color: @light-teal;
            cursor: pointer;
            font-size: 2rem;
            color: @mirage;
            margin-bottom: .4rem;
            
            
            @media @mobile {
                width: 30rem;
            }
            &:hover {
                background-color: @mirage;
                color: @light-teal;
            }
            
        }
    }  
} 


