header {
    max-width: 100%;
    display: flex;
//    border: 1px solid red;
//    margin-bottom: 1rem;
    padding-top: 1rem;
    
    @media @mobile {
        margin: 1rem auto;
    }
    .nav .h1 {
        @media @mobile {
            font-size: 3rem;
            margin: auto;
        }
    }
    
    
    .nav {
        margin: 0 auto;
        
            a, p {
                
                font-size: 3rem;
                text-decoration: none;
                color: @green;
                cursor: pointer;
                
                
                @media @mobile {
                    font-size: 2rem;
                }

            }
        
            .themeChanger {
                font-size: 3rem;
                
                @media @mobile {
                    font-size: 2rem;
                }
        }      
    }   

        
 }
    